.benchmark-business {
    margin: 90px 0 30px;
}

.benchmark-business .businessGrid{
    margin-left: 0;
    margin-top: 0;
    width: 100%;
}
.business-type .businessGrid{
    margin-left: 0;
    margin-top: 0;
    width: 100%;
}

.benchmark-business .my-business-img{
    margin-top: 70px;
}


span.business-count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.16);
    font-size: 24px;
    line-height: 27px;
    color: #6BAD03;
    font-weight: 500;
    font-family: var(--font-family-poppins);   
}
.business-cards .business-card-heading {
    font-size: 21px;
    line-height: 27px;
    color: var(--black-color);
    font-weight: 500;
    font-family: var(--font-family-poppins);  
    margin: 20px 0 20px; 
}
.business-type {
    margin: 40px 0 70px;
}
.business-card {
    margin-bottom: 60px;
    padding: 5px;
}
.business-cards .business-card-data {
    font-size: 16px;
    line-height: 22px;
    color: var(--light-gray);
    font-weight: 500;
    font-family: var(--font-family-poppins);  
}




/* Media query start  */
@media only screen and (max-width:991px){
    .benchmark-business {
        margin: 60px 0;
    }
    .benchmark-business .my-business-img{
        margin-top: 0px;
    }
    .business-cards .business-card-data {
        font-size: 14px;
    }
    .business-cards .business-card-heading {
        font-size: 18px;
        line-height: 24px;
        margin: 15px 0 15px;
    }
    span.business-count {        
        width: 60px;
        height: 60px;        
        font-size: 20px;
        line-height: 25px;
    }
}


@media only screen and (max-width:767px){
    .benchmark-business {
        margin: 25px 0;
    }
    .business-card {
        margin-bottom: 30px;
    }
}